In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [22]:
data = pd.read_csv("C:/Users/lamech.ngeno/Data_for_UCI_named.csv")

In [23]:
data.head()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab,stabf
0,2.959060,3.079885,8.381025,9.780754,3.763085,-0.782604,-1.257395,-1.723086,0.650456,0.859578,0.887445,0.958034,0.055347,unstable
1,9.304097,4.902524,3.047541,1.369357,5.067812,-1.940058,-1.872742,-1.255012,0.413441,0.862414,0.562139,0.781760,-0.005957,stable
2,8.971707,8.848428,3.046479,1.214518,3.405158,-1.207456,-1.277210,-0.920492,0.163041,0.766689,0.839444,0.109853,0.003471,unstable
3,0.716415,7.669600,4.486641,2.340563,3.963791,-1.027473,-1.938944,-0.997374,0.446209,0.976744,0.929381,0.362718,0.028871,unstable
4,3.134112,7.608772,4.943759,9.857573,3.525811,-1.125531,-1.845975,-0.554305,0.797110,0.455450,0.656947,0.820923,0.049860,unstable

In [24]:
data.describe()

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4,stab
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,5.250000,5.250001,5.250004,5.249997,3.750000,-1.250000,-1.250000,-1.250000,0.525000,0.525000,0.525000,0.525000,0.015731
std,2.742548,2.742549,2.742549,2.742556,0.752160,0.433035,0.433035,0.433035,0.274256,0.274255,0.274255,0.274255,0.036919
min,0.500793,0.500141,0.500788,0.500473,1.582590,-1.999891,-1.999945,-1.999926,0.050009,0.050053,0.050054,0.050028,-0.080760
25%,2.874892,2.875140,2.875522,2.874950,3.218300,-1.624901,-1.625025,-1.624960,0.287521,0.287552,0.287514,0.287494,-0.015557
50%,5.250004,5.249981,5.249979,5.249734,3.751025,-1.249966,-1.249974,-1.250007,0.525009,0.525003,0.525015,0.525002,0.017142
75%,7.624690,7.624893,7.624948,7.624838,4.282420,-0.874977,-0.875043,-0.875065,0.762435,0.762490,0.762440,0.762433,0.044878
max,9.999469,9.999837,9.999450,9.999443,5.864418,-0.500108,-0.500072,-0.500025,0.999937,0.999944,0.999982,0.999930,0.109403

In [25]:
data.isnull().sum().sort_values(ascending=False)

tau1     0
tau2     0
tau3     0
tau4     0
p1       0
p2       0
p3       0
p4       0
g1       0
g2       0
g3       0
g4       0
stab     0
stabf    0
dtype: int64

In [26]:
data.drop(['stab'], inplace=True, axis=1)

In [27]:
import sklearn.utils
data = sklearn.utils.shuffle(data)
data = data.reset_index(drop= True )
data.shape

(10000, 13)

In [28]:
X = data.drop(columns= 'stabf' )
y = data[ 'stabf' ]

In [29]:
#split the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= 0.2 , random_state= 1 )
y_train.value_counts()

unstable    5091
stable      2909
Name: stabf, dtype: int64

In [30]:
from sklearn.preprocessing import LabelEncoder

# create a label encoder object
le = LabelEncoder()

# fit the label encoder on the target variable
le.fit(y_train)

# transform the target variable into numerical labels
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [31]:
from sklearn.preprocessing import StandardScaler

# create a StandardScaler object
scaler = StandardScaler()

# fit the scaler on the training data
scaler.fit(x_train)

# transform the training and test data using the scaler
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [32]:
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

# create a random forest classifier with 100 trees
rfc = RandomForestClassifier(n_estimators=100)

# train the random forest classifier on the training data
rfc.fit(x_train, y_train)

# create an extra trees classifier with 100 trees
etc = ExtraTreesClassifier(n_estimators=100)

# train the extra trees classifier on the training data
etc.fit(x_train, y_train)

ExtraTreesClassifier()

In [33]:
# make predictions on the test data using the random forest classifier
y_pred_rfc = rfc.predict(x_test)

# make predictions on the test data using the extra trees classifier
y_pred_etc = etc.predict(x_test)
print(y_pred_rfc)

[1 1 0 ... 1 1 0]

In [36]:
np.isnan(x_train)

,tau1,tau2,tau3,tau4,p1,p2,p3,p4,g1,g2,g3,g4
2694,False,False,False,False,False,False,False,False,False,False,False,False
5140,False,False,False,False,False,False,False,False,False,False,False,False
2568,False,False,False,False,False,False,False,False,False,False,False,False
3671,False,False,False,False,False,False,False,False,False,False,False,False
7427,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2895,False,False,False,False,False,False,False,False,False,False,False,False
7813,False,False,False,False,False,False,False,False,False,False,False,False
905,False,False,False,False,False,False,False,False,False,False,False,False
5192,False,False,False,False,False,False,False,False,False,False,False,False
235,False,False,False,False,False,False,False,False,False,False,False,False

In [42]:
#x_train = x_train.astype(np.int32)
# convert all columns to int
x_train = x_train.astype(int)

# print the converted DataFrame
print(x_train)

      tau1  tau2  tau3  tau4  p1  p2  p3  p4  g1  g2  g3  g4
2694     8     8     3     4   4  -1  -1  -1   0   0   0   0
5140     7     3     0     5   3  -1   0  -1   0   0   0   0
2568     8     5     2     2   4  -1  -1   0   0   0   0   0
3671     2     5     9     7   3   0   0  -1   0   0   0   0
7427     7     7     1     7   3  -1  -1   0   0   0   0   0
...    ...   ...   ...   ...  ..  ..  ..  ..  ..  ..  ..  ..
2895     8     7     3     8   4  -1  -1   0   0   0   0   0
7813     3     1     9     5   4  -1  -1  -1   0   0   0   0
905      5     9     4     9   3  -1  -1   0   0   0   0   0
5192     4     5     4     4   3   0  -1  -1   0   0   0   0
235      5     6     0     9   2   0  -1   0   0   0   0   0

[8000 rows x 12 columns]

In [44]:
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

# create an XGBoost classifier
xgb = XGBClassifier(n_estimators=100)

# train the XGBoost classifier on the training data
xgb.fit(x_train, y_train)

# create a LightGBM classifier
lgbm = LGBMClassifier(n_estimators=100)

# train the LightGBM classifier on the training data
lgbm.fit(x_train, y_train)

LGBMClassifier()

In [46]:
from sklearn.metrics import accuracy_score

# Assuming you have already loaded and preprocessed your data and split it into
# train and test sets (X_train, y_train, X_test, y_test)

# Instantiate the Random Forest classifier
rfc = RandomForestClassifier()

# Train the classifier on the training set
rfc.fit(x_train, y_train)

# Use the classifier to predict the labels of the test set
y_pred = rfc.predict(x_test)

# Compute the accuracy of the classifier on the test set
accuracy = accuracy_score(y_test, y_pred)

print(f"Random Forest classifier accuracy: {accuracy:.4f}")

Random Forest classifier accuracy: 0.7495

In [47]:
# Use the classifier to predict the labels of the test set
y_pred = xgb.predict(x_test)

In [48]:
# Compute the accuracy of the classifier on the test set
accuracy = accuracy_score(y_test, y_pred)

print(f"Random Forest classifier accuracy: {accuracy:.4f}")

Random Forest classifier accuracy: 0.7415

In [49]:
# Use the classifier to predict the labels of the test set
y_pred = lgbm.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)

print(f"Random Forest classifier accuracy: {accuracy:.4f}")

Random Forest classifier accuracy: 0.7650